<div class="panel panel-default col-md-12">
    <div class="panel-heading">
        <h3 class="text-center">Uređivanje osnovnih podataka o sjednici</h3>
    </div>
    <div class="panel-body">

        <div class="form-horizontal">
            <h3 class="text-center text-info">Status: {{sjednica?.statusSjednice?.naziv}}</h3>
            <div class="container">

                <div class="vertical-center-row">

                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="submit" (click)="zavrsiKreiranje()" class="btn btn-primary">Završi kreiranje sjednice</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-info" (click)="pokreniSjednicu()">Započni sjednicu</button>
                        </div>

                    </div>

                    <br />
                    <form #formCtrl="ngForm">
                        <div class="form-group">
                            <input type="text" id="naziv" name="naziv" [(ngModel)]="sjednica.naziv" #naziv="ngModel" class="form-control" required minlength="4"
                                placeholder="Naziv teme">
                            <div *ngIf="naziv.errors && (naziv.dirty || naziv.touched)" class="alert alert-danger">
                                <div [hidden]="!naziv.errors.required">
                                    Unos naziva je obavezan!
                                </div>
                                <div [hidden]="!naziv.errors.minlength">
                                    Naziv mora imati barem 4 karaktera!
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input ng2-datetime-picker date-format="DD.MM.YYYY hh:mm" class="form-control" id="datumOdrzavanjaOd" #datumOdrzavanjaOd="ngModel"
                                name="datumOdrzavanjaOd" [(ngModel)]="sjednica.datumOdrzavanjaOd" close-on-select="false" placeholder="Datum i vrijeme održavanja"
                                required/>
                            <div *ngIf="datumOdrzavanjaOd.errors && (datumOdrzavanjaOd.dirty || datumOdrzavanjaOd.touched)" class="alert alert-danger">
                                <div [hidden]="!datumOdrzavanjaOd.errors.required">
                                    Unos datuma je obavezan!
                                </div>
                            </div>

                        </div>


                        <div class="form-group">
                            <input type="text" id="mjesto" name="mjesto" [(ngModel)]="sjednica.sala" #mjesto="ngModel" class="form-control" required
                                placeholder="Mjesto održavanja">
                            <div *ngIf="mjesto.errors && (mjesto.dirty || mjesto.touched)" class="alert alert-danger">
                                <div [hidden]="!mjesto.errors.required">
                                    Unos mjesta održavanja je obavezan!
                                </div>
                            </div>
                        </div>


                        <div class="form-group pull-right">
                            <button type="submit" (click)="updateDetalja()" [disabled]="!formCtrl.form.valid" class="btn btn-primary">Spremi osnovne podatke</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="text-center">Kreiranje dnevnog reda</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary btn-sm pull-right" (click)="open(content)">Nova stavka</button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Dnevni red</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of stavkeDr">
                <td>{{ item.opis }}</td>
                <td class="pull-right">
                    <button class="btn btn-primary">Detalji</button> |
                    <button class="btn btn-danger btn-sm" mwlConfirmationPopover message="Jeste li sigurni da želite obrisati ?" placement="left"
                        (confirm)="deleteStavkaDr(item)" (cancel)="isOpen = false">Obriši</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="panel panel-default col-md-6">
    <div class="panel-heading">
        <h3 class="text-center">Pridruživanje učesnika sjednici</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-9">

            <div class="form-group">
                <label class="control-label">Osoba</label>
                <select style="height: 35px;" [(ngModel)]="selectedUser" class="form-control">                    
                    <option *ngFor="let user of users" [ngValue]="user" >{{ user.lastName + " " + user.firstName }}</option>                   
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Tip učesnika</label>
                <select style="height: 35px;" [(ngModel)]="selectedTipUcesnika" class="form-control">                    
                    <option *ngFor="let tip of tipoviUcesnika" [ngValue]="tip" >{{ tip.naziv }}</option>                   
                </select>
            </div>

        </div>
        <div class="col-md-3">
            <button class="btn btn-primary pull-right" (click)="dodajUcesnika(selectedUser, selectedTipUcesnika)">Dodaj</button>
        </div>
    </div>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Učesnici</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ucesnik of ucesnici">
                <td>{{ ucesnik.userInfo.lastName + " " + ucesnik.userInfo.firstName }}</td>
                <td> {{ ucesnik.tipUcesnika.naziv }} </td>
                <td class="pull-right">
                    <button class="btn btn-danger btn-sm" mwlConfirmationPopover message="Jeste li sigurni da želite obrisati ?" placement="left"
                        (confirm)="deleteUcesnik(ucesnik)" (cancel)="isOpen = false">Obriši</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div class="panel panel-default col-md-6">
    <div class="panel-heading">
        <h3 class="text-center">Pridruživanje priloga za sjednicu</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="input-group col-md-12">
                <input [(ngModel)]="prilog.naziv" placeholder="Naziv" class="form-control" />
            </div>
            <div class="input-group col-md-12">
                <file-upload #fu (change)="prilog.sadrzaj = fu.upload()" class="form-control"></file-upload>
            </div>
            <div class="input-group">
                <button class="btn btn-primary pull-right col-md-12" (click)="dodajPrilog()"> Pridruži prilog </button>
            </div>
        </div>

    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Pridruženi prilozi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of prilozi">
                <td>{{item.naziv}}</td>
                <td class="pull-right">
                    <button class="btn btn-danger btn-sm" mwlConfirmationPopover message="Jeste li sigurni da želite obrisati ?" placement="left"
                        (confirm)="deletePrilog(item)" (cancel)="isOpen = false">Obriši</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--MODAL ZA KREIRANJE TAČKE DNEVNOG REDA-->

<template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
        <h4 class="modal-title">Unos tačke dnevnog reda</h4>
    </div>
    <div class="modal-body">
        <form #formCtrl="ngForm">
            <div class="form-group">
                <input class="form-control" [(ngModel)]="stavkaDr.redniBroj" id="redniBroj" name="redniBroj" #redniBroj="ngModel" required
                    placeholder="Redni broj tačke dnevnog reda" />
                <div *ngIf="redniBroj.errors && (redniBroj.dirty || redniBroj.touched)" class="alert alert-danger">
                    <div [hidden]="!redniBroj.errors.required">
                        Unos rednog broja je obavezan!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" [(ngModel)]="stavkaDr.naslov" id="naslov" name="naslov" #naslov="ngModel" required placeholder="Naziv tačke dnevnog reda"></textarea>
                <div *ngIf="naslov.errors && (naslov.dirty || naslov.touched)" class="alert alert-danger">
                    <div [hidden]="!naslov.errors.required">
                        Unos naslova je obavezan!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" [(ngModel)]="stavkaDr.opis" id="opis" name="opis" #opis="ngModel" required placeholder="Opis tačke dnevnog reda">
                </textarea>
                <div *ngIf="opis.errors && (opis.dirty || opis.touched)" class="alert alert-danger">
                    <div [hidden]="!opis.errors.required">
                        Unos opisa je obavezan!
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="dodajStavkuDnevnogReda(stavkaDr)" [disabled]="!formCtrl.form.valid">Spremi</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Izađi</button>
    </div>
</template>