<div class="panel panel-default col-md-12">
    <div class="panel-heading">
        <h3 class="text-center">Kreiranje nove sjednice</h3>
    </div>
    <div class="panel-body">

        <div class="form-horizontal">
            <h3 class="text-center text-success" [hidden]="sjednica?.statusSjednice?.id != 2">Sjednica je u toku</h3>
            <div class="container">
                <div class="vertical-center-row">
                    <div class='col-md-8'>
                        <div class="form-group">
                            <label class="control-label" for="date">Datum početka</label>
                            <input [(ngModel)]="datumOd" class="form-control" ngbDatepicker #d1="ngbDatepicker" />
                            <div class="input-group-addon" (click)="d1.toggle()">
                                <p class="text-center">Odaberite datum</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tema sjednice</label>
                            <input [(ngModel)]="sjednica.naziv" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Lokacija</label>
                            <input [(ngModel)]="sjednica.sala" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-2 pull-right">
                    <button type="submit" class="btn btn-primary">Spremi osnovne podatke</button>
                    <button type="submit" class="btn btn-primary">Završi kreiranje sjednice</button>
                    <button type="submit" class="btn btn-info" (click)="pokreniSjednicu()">Započni sjednicu</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="text-center">Kreiranje dnevnog reda</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary btn-sm pull-right" (click)="open(content)">Kreiraj</button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Dnevni red</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of stavkeDr">
                <td>{{ item.opis }}</td>
                <td class="pull-right">
                    <button class="btn btn-primary">Detalji</button> |
                    <button class="btn btn-danger btn-sm" mwlConfirmationPopover message="Jeste li sigurni da želite obrisati ?" placement="left"
                        (confirm)="deleteStavkaDr(item)" (cancel)="isOpen = false">Obriši</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="panel panel-default col-md-6">
    <div class="panel-heading">
        <h3 class="text-center">Pridruživanje učesnika sjednici</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-9">

            <select [(ngModel)]="selectedUser" class="form-control">
                <option selected="selected" disabled>Odaberite osobu</option>
                <option *ngFor="let user of users" [ngValue]="user" >{{ user.lastName + " " + user.firstName }}</option>                   
            </select>

            <select [(ngModel)]="selectedTipUcesnika" class="form-control">
                <option selected="selected" disabled>Tip učesnika</option>
                <option *ngFor="let tip of tipoviUcesnika" [ngValue]="tip" >{{ tip.naziv }}</option>                   
            </select>

        </div>
        <div class="col-md-3">
            <button class="btn btn-primary pull-right" (click)="dodajUcesnika(selectedUser, selectedTipUcesnika)">Dodaj</button>
        </div>
    </div>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Učesnici</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ucesnik of ucesnici">
                <td>{{ ucesnik.userInfo.lastName + " " + ucesnik.userInfo.firstName }}</td>
                <td> {{ ucesnik.tipUcesnika.naziv }} </td>
                <td class="pull-right">
                    <button class="btn btn-danger btn-sm" mwlConfirmationPopover message="Jeste li sigurni da želite obrisati ?" placement="left"
                        (confirm)="deleteUcesnik(ucesnik)" (cancel)="isOpen = false">Obriši</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div class="panel panel-default col-md-6">
    <div class="panel-heading">
        <h3 class="text-center">Pridruživanje priloga za sjednicu</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="input-group col-md-12">
                <input [(ngModel)]="prilog.naziv" placeholder="Naziv" class="form-control" />
            </div>
            <div class="input-group col-md-12">
                <file-upload #fu (change)="prilog.sadrzaj = fu.upload()" class="form-control"></file-upload>                
            </div>
            <div class="input-group">
                <button class="btn btn-primary pull-right col-md-12" (click)="dodajPrilog()"> Pridruži prilog </button>
            </div>
        </div>

    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Pridruženi prilozi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of prilozi">
                <td>{{item.naziv}}</td>
                <td class="pull-right"><button class="btn btn-primary">Ukloni</button>
            </tr>            
        </tbody>
    </table>
</div>

<!--MODAL ZA KREIRANJE TAČKE DNEVNOG REDA-->

<template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
        <h4 class="modal-title">Unos tačke dnevnog reda</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control" [(ngModel)]="stavkaDr.redniBroj" placeholder="Redni broj tačke dnevnog reda"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" [(ngModel)]="stavkaDr.naslov" placeholder="Naziv tačke dnevnog reda">
        </div>
        <div class="form-group">
            <textarea class="form-control" [(ngModel)]="stavkaDr.opis" placeholder="Opis tačke dnevnog reda"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="dodajStavkuDnevnogReda(stavkaDr)">Spremi</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Izađi</button>
    </div>
</template>