<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h3>Sjednice</h3>
	</div>
	<div class="panel-body">
		<div class="pull-right">
			<button class="btn btn-primary btn-sm" (click)="open(content)">Kreiraj sjednicu</button>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Naziv</th>
				<th>Datum održavanja</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let sjednica of sjednice">
				<td>{{ sjednica.naziv }}</td>
				<td>{{ sjednica.datumOdrzavanjaOd | date:"MM/dd/yy" }}</td>
				<td>{{ sjednica.statusSjednice.naziv }}</td>
				<td>
					<button [routerLink]="['/sjednice/trenutna', sjednica.id]" class="btn btn-sm btn-primary">Uđi</button>
					<button [routerLink]="['/sjednice/detaljiSjednice', sjednica.id]" class="btn btn-sm btn-primary">Detalji</button>
					<button [routerLink]="['/sjednice/kreiranjeSjednice', sjednica.id]" class="btn btn-sm btn-primary">Uredi</button>
				</td>
			</tr>

		</tbody>
	</table>

</div>


<template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
		<h4 class="modal-title">Kreiranje sjednice</h4>
	</div>
	<div class="modal-body">

		<div class="form-group">
			<input [(ngModel)]="sjednica.naziv" class="form-control" placeholder="Naziv teme">
		</div>
		<div class="form-group">
			<label class="control-label" for="date">Datum početka</label>
			<input [(ngModel)]="datumOd" class="form-control" ngbDatepicker #d1="ngbDatepicker" />
			<div class="input-group-addon" (click)="d1.toggle()">
				<p class="text-center">Odaberite datum</p>
			</div>
		</div>
		<div class="form-group">
			<input [(ngModel)]="sjednica.sala" class="form-control" placeholder="Mjesto održavanja">
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="create(sjednica)">Unesi</button>
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">Izađi</button>
	</div>
</template>