<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading" (click)="isCollapsed1 = !isCollapsed1">
			<h3 class="panel-title">Podaci o sjednici</h3>            
		</div>
		<div [ngbCollapse]="isCollapsed1" class="panel-body">
			<label class="control-label">Tema sjednice</label>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fuga, culpa voluptatem fugiat soluta, doloribus aspernatur
				reprehenderit debitis asperiores aliquam rem! Quis sapiente amet error provident assumenda tenetur laboriosam placeat!
			<hr />
			<label class="control-label">Precjedavajući</label>
			<p>Granulo Aida</p>

			<label class="control-label">Datum i vrijeme početka</label>
			<p>21.12.2016. 14:30</p>

		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 (click)="isCollapsed2 = !isCollapsed2" class="panel-title" >Učesnici</h3>				
			</div>
			<div class="panel-body" [ngbCollapse]="isCollapsed2">
				<ul class="list-group" style="max-height:200px; overflow-y:auto;">
					<li class="list-group-item">Džafić Faris</li>
					<li class="list-group-item">Botulja sumeja</li>
					<li class="list-group-item">Granulo Aida</li>
					<li class="list-group-item">Hasović Aida</li>
					<li class="list-group-item">Džafić Faris</li>
					<li class="list-group-item">Botulja sumeja</li>
					<li class="list-group-item">Granulo Aida</li>
					<li class="list-group-item">Hasović Aida</li>
					<li class="list-group-item">Džafić Faris</li>
					<li class="list-group-item">Botulja sumeja</li>
					<li class="list-group-item">Granulo Aida</li>
					<li class="list-group-item">Hasović Aida</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading" (click)="isCollapsed3 = !isCollapsed3">
				<h3 class="panel-title">Stavke dnevnog reda</h3>				
			</div>
			<div class="panel-body" [ngbCollapse]="isCollapsed3">
				<div class="list-group" style="max-height:200px; overflow-y:auto;">
					<a href="#" class="list-group-item active" title="Aktivna tačka"> <span class="badge"> << </span>Aktivna stavka dnevnog reda </a>
					<a href="#" class="list-group-item">Stavka 1</a>
					<a href="#" class="list-group-item">Stavka 2</a>
					<a href="#" class="list-group-item">Stavka 3</a>
					<a href="#" class="list-group-item">Stavla 3</a>
				</div>
			</div>
		</div>
	</div>


</div>

<div class="row">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title text-center">Chat</h1>
		</div>
		<div class="panel-body">

			<div class="input-group">
				<input type="text" [(ngModel)]="cp.poruka" class="form-control">
				<span class="input-group-btn">
                    <button (click) = "sendMsg()" class="btn btn-default" type="button">Pošalji</button>
                </span>
			</div>
			<br />
			<div class="list-group">
				<li class="list-group-item" *ngFor="let messagge of messages">
					<h4 class="list-group-item-heading">OsobaX</h4>
					<p class="list-group-item-text">{{messagge.poruka}}</p>
				</li>				
			</div>
		</div>
	</div>


</div>

