<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"              
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" 
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd   
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/websocket
    http://www.springframework.org/schema/websocket/spring-websocket.xsd
">
    
    <context:component-scan base-package="com.sjednice.controller" />
    <mvc:annotation-driven />
    
    <!--<mvc:cors />-->
<!--    <mvc:cors>

        <mvc:mapping path="/**"
                     allowed-origins="http://localhost:4200"
                     allowed-methods="GET, PUT, POST, DELETE"
                     allowed-headers="Access-Control-Allow-Origin"
                     allow-credentials="false"
                     max-age="123" />        

    </mvc:cors>-->

    <websocket:message-broker application-destination-prefix="/app">
        <websocket:stomp-endpoint path="/chat" allowed-origins="*">
            <websocket:sockjs/>
        </websocket:stomp-endpoint>
        <websocket:simple-broker prefix="/topic"/>
    </websocket:message-broker>
        
    <!--   Ispod ćete zalijepiti data source -->

    

 
    
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        

    </bean>
    
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>                
                <value>com.sjednice.model.Sjednica</value>
                <value>com.sjednice.model.StatusSjednice</value>
                <value>com.sjednice.model.ChatPoruka</value>                
                <value>com.sjednice.model.Glas</value>
                <value>com.sjednice.model.Prilog</value>
                
                <value>com.sjednice.model.StatusStavkeDnevnogReda</value>
                <value>com.sjednice.model.StatusUcesnika</value>
                <value>com.sjednice.model.StavkaDnevnogReda</value>
                <value>com.sjednice.model.TipGlasa</value>
                <value>com.sjednice.model.TipUcesnika</value>
                <value>com.sjednice.model.Ucesnik</value>
                           
                <value>com.sjednice.model.UserInfo</value>       
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
            </props>
        </property>
    </bean>

    <bean id="txManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
    
    <bean id="sjednicaDao" class="com.sjednice.dao.SjednicaDao"></bean>
    <bean id="sjednicaServices" class="com.sjednice.services.SjednicaServices"></bean>
    
    <bean id="statusSjedniceDao" class="com.sjednice.dao.StatusSjedniceDao"></bean>
    <bean id="statusSjedniceServices" class="com.sjednice.services.StatusSjedniceServices"></bean>
    
    <bean id="chatPorukaDao" class="com.sjednice.dao.ChatPorukaDao"></bean>
    <bean id="chatPorukaServices" class="com.sjednice.services.ChatPorukaServices"></bean>
    
    <bean id="glasDao" class="com.sjednice.dao.GlasDao"></bean>
    <bean id="glasServices" class="com.sjednice.services.GlasServices"></bean>
    
    <bean id="prilogDao" class="com.sjednice.dao.PrilogDao"></bean>
    <bean id="prilogServices" class="com.sjednice.services.PrilogServices"></bean> 
      
    <bean id="statusStavkeDnevnogRedaDao" class="com.sjednice.dao.StatusStavkeDnevnogRedaDao"></bean>
    <bean id="statusStavkeDnevnogRedaServices" class="com.sjednice.services.StatusStavkeDnevnogRedaServices"></bean>
    
    <bean id="stavkaDnevnogRedaDao" class="com.sjednice.dao.StavkaDnevnogRedaDao"></bean>
    <bean id="stavkaDnevnogRedaServices" class="com.sjednice.services.StavkaDnevnogRedaServices"></bean>
    
    <bean id="ucesnikDao" class="com.sjednice.dao.UcesnikDao"></bean>
    <bean id="ucesnikServices" class="com.sjednice.services.UcesnikServices"></bean>
    
    <bean id="tipUcesnikaDao" class="com.sjednice.dao.TipUcesnikaDao"></bean>
    <bean id="tipUcesnikaServices" class="com.sjednice.services.TipUcesnikaServices"></bean>
    
    <bean id="tipGlasaDao" class="com.sjednice.dao.TipGlasaDao"></bean>
    <bean id="tipGlasaServices" class="com.sjednice.services.TipGlasaServices"></bean>
    
    <bean id="statusUcesnikaDao" class="com.sjednice.dao.StatusUcesnikaDao"></bean>
    <bean id="statusUcesnikaServices" class="com.sjednice.services.StatusUcesnikaServices"></bean>
    
    <bean id="userInfoDao" class="com.sjednice.dao.UserInfoDao"></bean>
    <bean id="userInfoServices" class="com.sjednice.services.UserInfoServices"></bean>
    
    
    
</beans>